$bg-primary: #16141c;
$bg-secondary: #1a1926;
$bg-accent: #e53265;
$text-base: #fff;
$text-muted: #979bb0;
$text-accent: #2fd6b5;

$plum: #8A508B;
$rose-red: #E6BEC0;
$licorice: #140411;
$dark-purple: #381D29;
$dark-purple-2: #361F34;
$text-base: #e3e3e3;
$font-size-base: 1.1em;

$gradient: radial-gradient(rgba($plum, 0.7), rgba($dark-purple, 0.7), rgba($dark-purple-2, 0.7));

$padding: 0.25em 1em;
$primary-gradient: linear-gradient(to right, rgba($plum, 0.5), rgba($plum, 0.8), rgba($plum, 0.5));

* {
  all: unset;
  border-radius: 24px;
}

.datetime {
  font-size: 1.1em;
}

.bar {
  background-image: $gradient;
  padding: $padding;
  color: $text-base;
  font-size: $font-size-base;
  margin: 0.25em 3em;
}

/***********************/
/*       LAYOUTS       */
/***********************/


.powermenu_layout {
  padding: 5em;
  font-size: 1.6em;
}


/***********************/
/*    POWER BUTTONS    */
/***********************/

.btns-box {
  font-size: 1.7em;

  button {
    padding: 0.2em 0.7em;
    border-radius: 6px;

    &:hover {
      transition: 200ms linear background-color, border-radius;
      // background-color: rgba($surface-lightgrey, 0.6);

    }
  }
}


.music-btn {
  // border: 1px solid $surface-fg;
  padding: 0.3em;
  border-radius: 100%;


  // &:hover {
  //   // background-color: rgba($surface-lightgrey, 0.6);
  // }
}

/***********************/
/*      SEPARATOR      */
/***********************/

.sep {
  padding-bottom: 0.25em;
}


/***********************/
/*       SUNDIAL       */
/***********************/

.sundial-lbl {
  font-size: 1.3em;
}

.sundial-lbl,
.music {
  font-weight: bold;
  border-radius: 0.2em;
  font-family: "Poiret One";
}

.tm-box {
  font-size: 1.5em;
}


/***********************/
/*       BATTERY       */
/***********************/

// .battery {
//   padding: $module-padding;
//   background-image: $primary-gradient;
//   color: $text-accent;
// }
