$surface-darkgrey: #20252b;
$surface-fg: #7A7B7C;
$surface-lightgrey: #3d464e;
$surface-grey: #2b3238;
$surface-red: #f87070;

* {
  all: unset;
}


/***********************/
/*       LAYOUTS       */
/***********************/

.powermenu_layout,
.bar_layout {
  font-family: "Phosphor";
  color: $surface-fg;
}

.powermenu_layout {
  padding: 5em;
  font-size: 1.7em;
}

.bar_layout {
  padding: 0.5em 3em;
  font-size: 1.2em;
}

/***********************/
/*    POWER BUTTONS    */
/***********************/

.btns-box {
  button {
    min-width: 80px;
    min-height: 80px;
    font-size: 1.5em;
    border-radius: 6px;

    &:hover {
      transition: 200ms linear background-color, border-radius;
      background-color: rgba($surface-lightgrey, 0.6);

    }
  }
}

/***********************/
/*      SEPARATOR      */
/***********************/

.sep {
  color: $surface-lightgrey;
}


/***********************/
/*       SUNDIAL       */
/***********************/

.sundial-lbl,
.music {
  font-weight: bold;
  border-radius: 0.2em;
  font-family: "Poiret One";
}