$surface-darkgrey: #20252b;
$surface-fg: #7A7B7C;
$surface-lightgrey: #3d464e;
$surface-grey: #2b3238;
$surface-red: #f87070;

* {
  all: unset;
}

.datetime {
  font-size: 1.1em;
}


/***********************/
/*       LAYOUTS       */
/***********************/

.powermenu_layout,
.bar_layout {
  font-family: "Phosphor";
  color: $surface-fg;
}

.powermenu_layout {
  padding: 5em;
  font-size: 1.6em;
}

.bar_layout {
  padding: 0.5em 3em;
  font-size: 1.2em;
}

/***********************/
/*    POWER BUTTONS    */
/***********************/

.btns-box {
  font-size: 1.7em;

  button {
    padding: 0.2em 0.7em;
    border-radius: 6px;

    &:hover {
      transition: 200ms linear background-color, border-radius;
      background-color: rgba($surface-lightgrey, 0.6);

    }
  }
}


.music-btn {
  border: 1px solid $surface-fg;
  padding: 0.3em;
  border-radius: 100%;


  &:hover {
    background-color: rgba($surface-lightgrey, 0.6);
  }
}

/***********************/
/*      SEPARATOR      */
/***********************/

.sep {
  color: $surface-lightgrey;
  padding-bottom: 0.25em;
}


/***********************/
/*       SUNDIAL       */
/***********************/

.sundial-lbl {
  font-size: 1.3em;
}

.sundial-lbl,
.music {
  font-weight: bold;
  border-radius: 0.2em;
  font-family: "Poiret One";
}

.tm-box {
  font-size: 1.5em;
}


/***********************/
/*       BATTERY       */
/***********************/

.battery-label {}